<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Ops!! :/ </h1>
        <h2>Algo de errado não está certo!</h2>
    </hgroup>
</body>
</html>
