
@{
    ViewBag.Title = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem Vindo ao fórum ByteBank</h2>
<p>Por favor, vá até seu e-mail e click no <mark>link</mark> que enviamos!</p>

