@model ByteBank.Forum.ViewModels.ContaConfirmacaoAlterouSenhaViewModel
@{
    ViewBag.Title = "ConfirmacaoAlterouSenha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset de Senha</h2>

@using (Html.BeginForm("ConfirmacaoAlterouSenha", "Conta"))
{
    <div class="form-group">
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.EditorForModel()
        <br />
        <button class="btn btn-primary" type="submit">Confirmar Nova Senha</button>

    </div>
}
