
@{
    ViewBag.Title = "EmailAlteracaoSenhaEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class=".text-success">E-mail para alteracao de senha enviado com sucesso!</h2>
<p>Verifique sua caixa de entrada para as instruções de alteração de senha.</p>

